<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/ellekasai" target="_blank">linkedin.com/in/khanhlinhle</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://ellekasai.com/" target="_blank">khanhlinhle.me</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:elle.kasai@gmail.com" target="_blank">khanhlinhle2809@gmail.com</a></p>
<p><i class="fa fa-mobile fa-lg fa-fw"></i> <a href="tel:6043561462" target="_blank">(08) 90 7979 284</a></p>
<p><i class="fa fa-facebook fa-lg fa-fw"></i><a href="https://facebook.com/khanhlinh.le.923">fb/khanhlinh.le.923</a></p>
